// @import './carbon';
// @import './ibm-cloud-and-cognitive';
@import "carbon-components/scss/globals/scss/styles.scss";

.cw-table{
  
  padding-top:4rem;
}

.status-breakdown-tooltip {
  width: auto;
  &-item {
    @include carbon--type-style("body-short-01");
    align-items: center;
    display: flex;
    margin-right: 0.5rem;
    padding-left: 4px;
  }
  &-item-text {
    padding-left: 10px;
  }
}

.severity-breakdown {
  display: flex;

  &-item {
    @include carbon--type-style("body-short-01");
    align-items: center;
    display: flex;
    margin-right: 0.5rem;

    &--story {
      margin-right: 0.25rem;
    }

    &__icon {
      height: 1rem;
      margin-right: 0.5rem;
      width: 1rem;
    }
  }

  .bx--tooltip__label .bx--tooltip__trigger {
    margin-left: 0 !important;
  }

  &-tooltip {
    width: auto;

    &-item {
      @include carbon--type-style("body-short-01");
      align-items: center;
      display: flex;
      padding-bottom: 6.5px;
    }

    &-item__text {
      padding-left: 4px;
    }

    &-tag {
      cursor: pointer;

      &:hover {
        background-color: $ui-05;
        color: $text-04;
      }
    }

    &-text {
      @include carbon--type-style("body-short-01");
    }
  }
}

.empty-table {
  padding: 4rem 1rem;
  width: 100%;
  background-color: $ui-01;
  border-bottom: 1px solid $ui-03;
}

.tag-colum {
  min-width: 4rem;
}

.status-col {
  display: flex;

  &-description {
    padding-left: 4px;
  }

  &-playtimes {
    padding-left: 4px;
  }
}

.icon-red {
  fill: #da1e28;
}

.icon-orange {
  fill: #fc991e;
}
.icon-yellow {
  fill: #f1c21b;
}

.icon-purple {
  fill: #4f2196;
}

.icon-blue {
  fill: #408bfc;
}

.icon-green {
  fill: green;
}

.table-header__toggle-container {
  align-items: center;
  display: flex;
}

.toggle__label--right {
  padding-right: 1rem;
}

.toggle__label--small {
  @include carbon--type-style('body-short-01');
  color: $text-02;
  cursor: pointer;
  max-width: 23rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.bx--toggle__text--right {
    margin-left: 0.5rem;
  }
}

.small-toggle {
  align-items: center;
  display: grid;
  grid-template-columns: 40px 1fr;

  .bx--toggle-input__label .bx--toggle__switch {
    margin-top: 0;
  }

  &__label {
    @include carbon--type-style('body-short-01');
    color: $text-02;
  }
}

.table__favorite {
  height: 2rem;
  width: 2rem;

  svg {
    margin: 0 0.5rem !important;
  }

  &-cell {
    padding: 0 !important;
    padding-right: 0.5rem !important;
    width: 2rem;

    .bx--btn--icon-only::before {
      visibility: hidden; 
    }
    .bx--btn__icon {
      height: 16px !important;
      width: 16px !important;
    }

  }
}


.table__favorite-cell {
  align-items: center;
  display: flex;

  .bx--assistive-text {
    transform: translate(0, -24px) !important;
  }
  
  #icon {
    // margin: 0 0.5rem !important;
    // margin-inline-start: 0 !important;
    // margin-inline-end: 0 !important;
    path {
      fill: red;
    }
  }
}
